<template>
  <div>
    <el-container style="height: 800px; border: 1px solid #eee">

      <el-header style="text-align: right; font-size: 12px">
        <el-button type="success" @click="dialogFormVisible = true">登录</el-button>
<!--        <span></span>-->
      </el-header>

      <el-container>
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
          <el-menu router :default-openeds="['0']">
            <el-submenu v-for="(item, index) in $router.options.routes" :index="String(index)">
              <template slot="title"><i class="el-icon-setting"></i>{{ item.name }}</template>
              <el-menu-item v-for="(item2, index2) in item.children" :index="item2.path"
                            :class="$route.path==item2.path?'is-active':''">{{ item2.name }}
              </el-menu-item>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>

    </el-container>

    <el-dialog title="登录" :visible.sync="dialogFormVisible">
      <el-form :model="tableData" ref="tableData">

        <el-form-item label="用户名" :label-width="formLabelWidth">
          <el-input v-model="tableData.username" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="密码" :label-width="formLabelWidth">
          <el-input v-model="tableData.password" autocomplete="off"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleLoginRequest('tableData')">登 录</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  methods: {
    handleLoginRequest(formName) {
      const _this = this

      axios.post('http://localhost:8181/user/login/' + this.tableData.username + '/' + this.tableData.password).then(function (resp) {
        if (resp.data == 'success') {
          _this.$alert('登录成功', '消息', {
            confirmButtonText: '确定',
            callback: action => {
              sessionStorage.setItem("currentUser" , this.tableData.username);
              window.location.reload()
            }
          })
        }
      })
    }
  },
  data() {
    return {
      tableData: [{
        // id: '0',
        // username: 'admin',
        // role: '1',
      }],
      dialogTableVisible: false,
      dialogFormVisible: false,
      formLabelWidth: '120px',
    }
  },
  created() {
    const _this = this
    axios.get('http://localhost:8181/user/findAll').then(function (resp) {
      _this.tableData = resp.data
    })
  }
}
</script>

<style>
.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>