<template>
  <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="id"
      label="ID"
      width="180">
    </el-table-column>
    <el-table-column
      prop="name"
      label="书名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="author"
      label="作者"
      width="180">
    </el-table-column>
    <el-table-column
      prop="publish"
      label="出版社"
      width="180">
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        id: '',
        name: '',
        author: '',
        publish: ''
      }]
    }
  },
  created () {
    const _this = this;
    axios.get('http://localhost:8181/book/findAll').then(function (resp) {
      _this.tableData = resp.data;
    })
  }
}
</script>