<template>
  <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="id"
      label="ID"
      width="180">
    </el-table-column>
    <el-table-column
      prop="username"
      label="用户名"
      width="180">
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        id: '',
        username: '',
      }]
    }
  },
  created () {
    const _this = this;
    axios.get('http://localhost:8181/user/findAll').then(function (resp) {
      _this.tableData = resp.data;
    })
  }
}
</script>