<template>
  <div>
    <el-table
      :data="tableData"
      stripe
      style="width: 100%">
      <el-table-column
        prop="id"
        label="ID"
        width="180">
      </el-table-column>
      <el-table-column
        prop="username"
        label="角色名"
        width="180">
      </el-table-column>
      <el-table-column
        prop="password"
        label="密码"
        width="180">
      </el-table-column>
      <el-table-column
        prop="role"
        label="角色"
        width="180">
      </el-table-column>

      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleEdit(scope.row)" type="text" size="small">编辑</el-button>
          <el-button @click="handleDelete(scope.row)" type="text" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="新增/编辑角色" :visible.sync="dialogFormVisible">
      <el-form :model="tableData" ref="tableData">

        <el-form-item label="用户名" :label-width="formLabelWidth">
          <el-input v-model="tableData.username" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="密码" :label-width="formLabelWidth">
          <el-input v-model="tableData.password" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="角色" :label-width="formLabelWidth">
          <el-input v-model="tableData.role" autocomplete="off"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="success" @click="handleAdd('tableData')">新 增</el-button>
        <el-button type="primary" @click="handleUpdate('tableData')">修 改</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
export default {
  methods: {
    handleClick(row) {
      console.log(row);
    },
    handleEdit(row) {
      const _this = this;
      _this.dialogFormVisible = true;
      this.tableData = Object.assign({}, row);
    },
    handleUpdate(formName) {
      const _this = this
      this.$refs[formName].validate((valid) => {
        if (valid) {
          axios.post('http://localhost:8181/user/save',this.tableData).then(function (resp) {
            if (resp.data == 'success') {
              _this.dialogFormVisible = false;
              _this.$alert('修改成功', '消息', {
                confirmButtonText: '确定',
                callback: action => {
                  window.location.reload()
                }
              });
            }
          })
        } else return false;
      });
    },
    handleAdd(formName) {
      const _this = this
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.tableData.id = null;
          axios.post('http://localhost:8181/user/save',this.tableData).then(function (resp) {
            if (resp.data == 'success') {
              _this.dialogFormVisible = false;
              _this.$alert('添加成功', '消息', {
                confirmButtonText: '确定',
                callback: action => {
                  window.location.reload()
                }
              });
            }
          })
        } else return false;
      });
    },
    handleDelete(row) {
      const _this = this
      axios.delete('http://localhost:8181/user/deleteById/' + row.id).then(function () {
        _this.$alert('删除成功', '消息', {
          confirmButtonText: '确定',
          callback: action => {
            window.location.reload()
          }
        });
      })
    }
  },


  data() {
    return {
      tableData: [{
        // id: '0',
        // username: 'admin',
        // role: '1',
      }],
      dialogTableVisible: false,
      dialogFormVisible: false,
      formLabelWidth: '120px'
    }
  },
  created () {
    const _this = this;
    axios.get('http://localhost:8181/user/findAll').then(function (resp) {
      _this.tableData = resp.data;
    })
  }
}
</script>